__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyTorch
*.pth
*.pt

# Data files
data/processed_yolo/
data/annotations/


# Excepciones para incluir imágenes en data/raw
!data/raw/
!data/raw/images/
!data/raw/images/BrandDetection.v4-version4.yolov8/test/images/
# Model files
models/trained/
models/pretrained/
*.weights
*.h5

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Jupyter
.ipynb_checkpoints

# Logs
logs/
*.log
wandb/

# Database
*.db
*.sqlite

# Temporary files
tmp/
temp/
